/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.content-wrapper{
  width: 90%;
  border: yellow solid 2px;
}

/** header **/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: red solid 1px;
  flex-flow: row wrap;
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: green solid 1px;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
  border: red solid 2px;
}

header nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  border: red solid 2px;
  width: 100%;
}

.header-divider{
  width:100%;
  height: 1px;
  margin: 10px 0 20px 0;
  border: orange solid 2px;
}

/** hero area **/

.hero-area{
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
}

/**aside**/

aside{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}



/** Features **/

.features{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features .features-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features article{
  text-align: center;
  width: 63%;
}

.reviews{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews h3{
  width: 53%;
  margin:20px 0;
  border: red solid 2px;
}

/*================ABOUT PAGE ================*/

/**** Mission style ****/

.mission{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

/**** Contact style*****/
.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*================FAQ PAGE====================*/

.faq{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.faq-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}

/***Footer Style****/

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .content-wrapper{
 
  border: red solid 1px;
}

.footer-content .contact{
  border: green solid 2px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.contact p{
  text-align: center;
}

.footer-content .social{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/* Tablet styles here */
  /* General styles */
  .content-wrapper {
    max-width: 640px;
    margin: 0 100px;
  }


.content-wrapper{
  width:
}
/*==========================HOMEPAGE ======================*/
/** header style*/

header .content-wrapper{
  width: 90%;
  justify-content: space-between;
  
}

header nav{
  width:20%;
  
}
.header-divider{
  display: none;
}

/*** Aside section***/


  /* Aside */
  aside .content-wrapper {
    
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 40%;
    margin: 0;
  }



/*** Features section ***/

.features article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
}

.features .features-item-description {
  width: 50%;
}


/*** Reviews section ***/

.reviews article {
  display: flex;
  justify-content: space-between;
}

.reviews article div {
  width: 49%;
}


/***footer section ***/

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer .contact{
  width:45%;
  
}

footer .social{
  width: 45%;
  border: orange solid 2px
}


/*=====================About page===================***/

/** Mission style ***/

.mission-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}

.mission-content p{
  width: 46%;
}

/**** Contact style ***/

.contact-section .content-wrapper h2{
  width: 80%;
}
.contact-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  
}


/**===================== FAQ PAGE ================ **/

.faq .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.faq-content{
  flex-basis: 40%;
}

.faq .content-wrapper h2{
  width: 100%;
}
  
}

@media only screen and (min-width: 1200px) {
/* Desktop styles here */

/*============homepage styles==================*/

.content-wrapper {
  max-width: 960px;
}

header .content-wrapper{
  flex-basis: 80%;;
}
/*** hero-area **/
.hero-area .content-wrapper h1{
width: 60%;

}

/* aside area */

aside .content-wrapper{
  justify-content: space-around;
}

aside .content-wrapper .form-description, aside .content-wrapper .form{
  width: 30%;
}

/* features */
.features .content-wrapper .h2{
  width:72%;
}

.features article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 30%;
}

  /* Reviews */
  .reviews article div {
    width: 42%;
  }

/*==============about page ===================*/
.mission h2,
  .contact-section .content-wrapper h2 {
      width: 95%;
  }


}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

